<p id="notice"><%= notice %></p>

<h1>Listing Professors</h1>

<table>
  <thead>
    <tr>
      <th>Login</th>
      <th>Email</th>
      <th>Senha</th>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Fone1</th>
      <th>Fone2</th>
      <th>Logradouro</th>
      <th>Cidade</th>
      <th>Uf</th>
      <th>Cep</th>
      <th>Valorhoraaula</th>
      <th>Qtdvotos</th>
      <th>Qtdpontos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.login %></td>
        <td><%= professor.email %></td>
        <td><%= professor.senha %></td>
        <td><%= professor.nome %></td>
        <td><%= professor.cpf %></td>
        <td><%= professor.fone1 %></td>
        <td><%= professor.fone2 %></td>
        <td><%= professor.logradouro %></td>
        <td><%= professor.cidade %></td>
        <td><%= professor.uf %></td>
        <td><%= professor.cep %></td>
        <td><%= professor.valorHoraAula %></td>
        <td><%= professor.qtdvotos %></td>
        <td><%= professor.qtdpontos %></td>
        <td><%= link_to 'Show', professor %></td>
        <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
        <td><%= link_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professor', new_professor_path %>
