<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @professor.login %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor.email %>
</p>

<p>
  <strong>Senha:</strong>
  <%#= @professor.senha %>
  ********
</p>

<p>
  <strong>Nome:</strong>
  <%= @professor.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @professor.cpf %>
</p>

<p>
  <strong>Fone1:</strong>
  <%= @professor.fone1 %>
</p>

<p>
  <strong>Fone2:</strong>
  <%= @professor.fone2 %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @professor.logradouro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @professor.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @professor.uf %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @professor.cep %>
</p>

<p>
  <strong>Valorhoraaula:</strong>
  <%= @professor.valorHoraAula %>
</p>

<!--p>
  <strong>Qtdvotos:</strong>
  <%#= @professor.qtdvotos %>
</p-->

<!--p>
  <strong>Qtdpontos:</strong>
  <%#= @professor.qtdpontos %>
</p-->

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
